<article class="ix-catalog-row">
    <div class="ix-catalog-nav">
        <p><a href="#"><strong>TOP</strong></a></p>
        {% for group in structures %}
            <p><a href="#{{ group.name }}">{{ group.name }}</a></p>
        {% endfor %}
    </div>
    <div class="ix-catalog-content">
        {% for group in structures %}
            {% set i = loop.index %}
            <section class="ix-group">
                <h2 class="ix-group-name">
                    <a name="{{ group.name }}">{{ group.name }}</a>
                </h2>
                {% for structure in group.items %}
                    {% set j = loop.index %}
                    <div class="ix-structure-container">
                        <h3 class="ix-structure-name text-muted">{{ structure.name }}</h3>
                        {% if not structure.reviewOnly %}
                            <button class="ix-source btn btn-link text-muted"
                                    title="HTML"
                                    data-bs-toggle="modal"
                                    data-bs-target="#structure-modal-{{ i }}-{{ j }}"
                            >&lt;&gt;
                            </button>
                        {% endif %}
                        <div class="ix-structure">{{ structure.html | safe }}</div>
                        <div class="clearfix"></div>
                    </div>

                    {% if not structure.reviewOnly %}
                        <div class="modal"
                             id="structure-modal-{{ i }}-{{ j }}"
                             tabIndex="-1"
                             aria-hidden="true"
                             aria-labelledby="modal-title-{{ i }}-{{ j }}"
                             role="dialog"
                        >
                            <div class="modal-dialog modal-dialog-centered modal-lg"
                                 role="document"
                            >
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="modal-title-{{ i }}-{{ j }}"
                                        >{{ structure.name }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <pre>{{ structure.html | highlight('html') | safe }}</pre>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button"
                                                class="btn btn-primary copy-to-clipboard"
                                                data-content="{{ structure.html | beautify('html') }}"
                                        >Copy HTML to Clipboard
                                        </button>
                                        <button type="button"
                                                class="btn btn-secondary"
                                                data-bs-dismiss="modal"
                                        >Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </section>
        {% endfor %}
    </div>
</article>
